/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Floats Class */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
/* Background Colors */
.background-black{
    background-color: black;
}
/* Color Fonts */
.font-pink {
    color: #f71668;
}
.font-white{
    color: white;
}
.font-sky{
    color: skyblue;
}

/* Fonts Family */
.font-fredoka{
    font-family: 'Fredoka', sans-serif;
}
.uppercase{
    text-transform: uppercase;
}



.main-container{
    width: 65%;
    margin: auto;
    margin-top: 1rem;
    min-width: 895px;
    max-width: 1690px;
}
header{
    text-align:center;
}
.article{
    margin-top: 3rem;
}

.album{
    width: 100%;
    margin-top: 2rem;
    min-width: 895px;
}

/* Conteiner Size */
.column-third{
    width: 350px;
    height: 120px;
}
.container-profile{
    width: calc(100% / 3 - 10px);
    line-height: 2.5rem;
    margin: 20px 5px;
}
/* Profile IMG Size */
.img-profile{
    width: 120px;
}

text{
    height: 100%;
    min-width: 285px;
}





